html{
    background-color:white;
    font-family:verdana;
    text-align:center;
}
.dice1{
    left:35%;
    color:red;
    font-size:250%;
}
.dice2{
 
    left:55%;
    color:green;
    font-size:250%;
}
